---
layout: base.liquid
---
<div class="grid-container">
    {% for event in collections.events_2024 %}
      <div class="grid-item">
        {% if event.data.main_image %}
          <img src="{{ event.data.main_image }}" alt="{{ event.data.title }}">
        {% endif %}
        <h3>{{ event.data.title }}</h3>
        <p>Location: {{ event.data.location }}</p>
        <p>Date: {{ event.data.date | date: "%d/%m/%Y" }}</p>
        {% if event.data.time %}
          <p>Time: {{ event.data.time }}</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>