---
layout: page
title: SLARG
event-highlight:
  - date: 2026-05-15
    section_title: "Launch of Grounds #2 "
    description: >-
      15.05.2026 — 19:00\

      Kunsthal Extra City


      Research in the making: messy, embodied, and in motion. \

      Experiments in connection, failure, bodies, tech, and the more-than-human.


      Drinks, sound, ideas in motion.\

      Part of Antwerp Art Weekend.


      → See [full programme & contributors](https://slarg.be/content/activities/2026-04-22-launch-of-grounds-2/)
    image:
      - https://imagedelivery.net/7-GLn6-56OyK7JwwGe0hfg/slarg/44e777f9197144e82141b61e59f8096747e805f6.jpg
    time: 19:00
    location: "Kunsthal Extra City "
  - date: 2026-05-26
    description: >-
      26–27.05.2026\

      Brussels


      A two-day research seminar organized by SLARG researcher Garine Gokceyan on authorship, diaspora, language, and unlearning design.


      Talks, discussions, and a workshop on type revivals and their futures — multilingual, collective, and in motion.


      Locations in Brussels:\

      Day 1 (26.05) → Paramour\

      Day 2 (27.05) → Les îles Mardi


      Registration required.


      → [Full programme & registration](https://slarg.be/content/activities/2026-04-16-research-seminar-%EF%BD%A5%EF%BE%9F%EF%BE%9F%EF%BD%A5%EF%BD%A1-without-a-center-with-many-%EF%BD%A1%EF%BD%A5%EF%BE%9F%EF%BE%9F%EF%BD%A5-may-26th-27th/)
    section_title: Without A Center, With Many - Designing Across Diasporas, Languages & Times
    image:
      - https://imagedelivery.net/7-GLn6-56OyK7JwwGe0hfg/slarg/e413172325cafa9097afb49708b6c8b719a4b1ad.jpg
    location: Brussels
---

<p class="homepage-short-presentation">
	carries out the academic artistic research of Sint Lucas Antwerpen School of Arts KdG, fostering artistic research that combines creative innovation with a strong social commitment <a href="about">more ⤻</a><!-- <br>
  ⤴ ⤻ -->
</p>

<section id="content-sections">
  {% if event-highlight %}

  <h2>UPCOMING / ONGOING</h2>

    <div class="highlight-events">
      {% for section in event-highlight %}
      <div class="highlight-event">
        <img src="{{ section.image }}/public" alt="">
        <div class="content">
        <h2>{{ section.section_title }}</h2>
        <div class="description">{{ section.description | markdownify }}
          <p class="info">
            {% if section.date %}
            {{ section.date | formatDateTime }}
            {% endif %}

            {% if section.time %}{{ section.time | escape }},
            {% endif %}
            {% if section.location %}{{ section.location }}
            {% endif %}
          </p>
        </div>
        </div>
      </div>
      {% endfor %}
    </div>


    {% endif %}
    <a href="https://kdg.us11.list-manage.com/subscribe?u=f2f4dfed688882b52d74c63fb&id=023a040e28" target="_blank"><button class="homepage-newsletter">Subscribe to our newsletter!</button></a>
</section>
