[build]
publish = "_site"
command = "npm run build"
functions = "netlify/functions"

[dev]
targetPort = 3000
framework = "#static"

[build.environment]
  TZ = "Europe/Brussels"

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/"
  to = "/2022/"

[[redirects]]
  from = "/t2"
  to = "/2022/"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

