[build]
publish = "_site"
command = "npm run build"
functions = "netlify/functions"

[build.environment]
  TZ = "Europe/Brussels"

[functions]
  directory = "netlify/functions"

[dev]
  command = "npm run start"
  targetPort = 3000
  port = 8888
  autoLaunch = false

[[redirects]]
  from = "/"
  to = "/2022/"

[[redirects]]
  from = "/t2"
  to = "/2022/"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

