<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLARG | Sint Lucas Antwerpen Research Group</title>
    <link rel="stylesheet" href="/static/css/main.css">
    {% if year  %}
    {% assign site_year = year | append: ''  %}
    {% else %}
    {% assign site_year = page.url | slice: 1, 4 %}
    {% endif %}
    {% if site_year == '2022' %}
    <link rel="stylesheet" href="/static/css/2022.css">
    {% elsif site_year == '2023' %}
    <link rel="stylesheet" href="/static/css/2023.css">
    {% elsif site_year == 'research-week/2024' %}
    <link rel="stylesheet" href="/static/css/2024.css">
    {% endif %}
  </head>

  <body>    
    <div class="wrapper">
    
      <header>
      <div class="sidebar">
      <a href="/">
      <h1>SLARG</h1>
      <h2> sint lucas </br> Antwerpen </br> Research </br> Group </h2>
      </a>
      </div>
      <img class="sidebar-logo" src="/static/web-images/logo-sla.png">
      <nav class="menu">
        <button id="menu-toggle" aria-label="Toggle navigation">Menu <img src="/static/img/menu.svg" /></button>
        <div id="menu-links">
          <a href="/">Home</a>
          <a href="/projects">Projects</a>
          <a href="/people">People</a>
          <a href="/calendar-activites">Events & activities</a>
          <a href="/research-weeks" style="padding-right: 30px">Research weeks ⤾</a>
          <a href="/publications.html">Off the shelves <img src="/static/img/SLARG-website-exclamation-heart.png" alt="" style="height: 33px; margin-left: -5px;" /></a>
          <a href="/grounds.html" style="padding-right: 30px">⤿ Grounds</a>
          <a href="/applying-for-phd">Applying for a PHD</a>
          <a href="/access.html">Accessibility</a>
          <a href="/about">About</a>
          
        </div> 
      </nav>
      <main>
      {{ content }}
      </main>
      <footer>
        </div>
      </footer>
    </div>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src="/static/scripts/menu.js"></script>
  </body>

</html>
