<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLARG | Sint Lucas Antwerpen Research Group</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <div><a href="/">SLARG</a></div>
            <div><a href="/">RESEARCH WEEK</a></div>
            <nav><a href="/about">ABOUT</a></nav>
        </header>
        {{ content }}
        <footer>
            <div class="footer-inner">
                <p>SLARG is the research group of <a href="https://www.sintlucasantwerpen.be" target="_blank">Sint Lucas
                        Antwerpen</a>.
                        <div class="partner-logos">
                            <a rel="noreferrer" href="https://www.sintlucasantwerpen.be/en/research/" target="_blank"><img src="/static/img/logo-sla-research.png" alt="Sint Lucas Antwerpen Research" /></a>
                            <a rel="noreferrer" href="https://www.kdg.be/en" target="_blank"><img src="/static/img/logo-kdg.png" alt="Karel de Grote Hogeschool" /></a>
                            <a rel="noreferrer" href="https://www.uantwerpen.be/en/research-groups/aria/" target="_blank"><img src="/static/img/logo-aria.png" alt="Antwerp Research Institute for the Arts" /></a>
                            <a rel="noreferrer" href="https://extracitykunsthal.org/en" target="_blank"><img src="/static/img/logo-extra-city.png" alt="Extra City Kunsthal"></a>
                            <a rel="noreferrer" href="https://fomu.be/en/" target="_blank"><img src="/static/img/logo-fotomuseum.png" alt="Fotomuseum Antwerpen"></a>
                            <a rel="noreferrer" href="https://www.klimaatfestivalantwerpen.be/nl" target="_blank"><img src="/static/img/logo-klimaatfestival.png" alt="Klimaatfestival Antwerpen"></a>
                        </div>
            </div>
        </footer>
    </div>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</body>

</html>