<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLARG | Sint Lucas Antwerpen Research Group</title>
    <link rel="stylesheet" href="/static/css/main.css">
    {% if year  %}
    {% assign site_year = year | append: ''  %}
    {% else %}
    {% assign site_year = page.url | slice: 1, 4 %}
    {% endif %}
    {% if site_year == '2022' %}
    <link rel="stylesheet" href="/static/css/2022.css">
    {% elsif site_year == '2023' %}
    <link rel="stylesheet" href="/static/css/2023.css">
    {% elsif site_year == 'research-week/2024' %}
    <link rel="stylesheet" href="/static/css/2024.css">
    {% endif %}
  </head>

  <body>    
    <div class="wrapper">
    
      <header>
      <div class="sidebar">
      <a href="/">
      <h1>SLARG</h1>
      <h2> sint lucas </br> Antwerpen </br> Research </br> Group </h2>
      </a>
      </div>
      <img class="sidebar-logo" src="/static/web-images/logo-sla.png">
      <nav class="menu">
        <button id="menu-toggle" aria-label="Toggle navigation">Menu <img src="/static/img/menu.svg" /></button>
        <div id="menu-links">
          <a href="/">Home</a>
          <a href="/research-week/2024">Research week 2024</a>
          <a href="/about">About</a>
          <a href="/researchers">Researchers</a>
        </div> 
      </nav>
      <main>
      {{ content }}
      </main>
      <footer>
        {% comment %} <div class="footer-inner">
          <div class="partner-logos">
            <a rel="noreferrer" href="https://www.sintlucasantwerpen.be/en/research/" target="_blank"><img src="/static/img/logo-sla-research.png" alt="Sint Lucas Antwerpen Research"></a>
            <a rel="noreferrer" href="https://www.kdg.be/en" target="_blank"><img src="/static/img/logo-kdg.png" alt="Karel de Grote Hogeschool"></a>
            <a rel="noreferrer" href="https://www.uantwerpen.be/en/research-groups/aria/" target="_blank"><img src="/static/img/logo-aria.svg" alt="Antwerp Research Institute for the Arts"></a>
          </div> {% endcomment %}
        </div>
      </footer>
    </div>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src="/static/scripts/menu.js"></script>
  </body>

</html>
