---
layout: base
---
<article>
  <h1 class="page-title">{{ page.title }}</h1>
  {% if page.thumbnail %}
    <img src="{{ page.thumbnail }}" alt="{{ page.title }} thumbnail">
  {% endif %}
  {{ page.body }}
</article>
