:root {
	--text-accent: #4c5ebf;
	--border-accent: #789205;
	--bg: #dfe0ff;
	--text: #272518;
}
body {
	background-color: var(--bg);
}
/* .sidebar h1, .sidebar h2, nav {
	color: black;
} */
main h2, main p {
	color: #4c5ebf;
}