:root {
	--text-accent: #9d00c8;
	--border-accent: #2f5f0f;
	--bg: #d0f5fd;
	--text: #272518;
	--turquoise: #00C589;
}

@font-face {
	font-family: 'Marsha';
	font-style: normal;
	font-weight: 700;
	src: local(''), url('/static/fonts/vtc-marsha-bold.woff2') format('woff2'), url('/static/fonts/vtc-marsha-bold.woff') format('woff');
}
@font-face {
	font-family: 'AuthenticSans';
	font-style: normal;
	font-weight: normal;
	src: local(''), url('/static/fonts/AUTHENTIC-Sans-Pro-90.woff2') format('woff2'),
		url('/static/fonts/AUTHENTIC-Sans-Pro-90.woff') format('woff');
}

body{
	background-color: whitesmoke;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img{
	width: 100%;
}
.sidebar{
	min-width: 200px;
	width: 25%;
	height: 100vh;
	position: fixed;
	background: whitesmoke;
	top: 0;
  	left: 0;
  	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.sidebar-logo{
	width: 150px;
	
}
.sidebar h1{
color: var(--turquoise);
margin-bottom: 0;
font-size: 3rem;
}
.sidebar a{
	color: var(--turquoise);
	text-decoration: none;
}
.sidebar h2{
	font-family: 'AuthenticSans';
	text-transform: uppercase;
	margin-top: 0.2rem;

}
.hero-text {
	color: black;
}

body{
	/* background-color: var(--turquoise); */
	font-family: 'Marsha';
	color: var(--turquoise);
}






footer {
	margin-top: 2rem;
	padding: 0 2rem;
	font-size: 0.8rem;
}

.footer-inner {
	border-top: 2px solid var(--border-accent);
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	white-space: nowrap;
}

@media (min-width: 768px) {
	.footer-inner {
		flex-direction: row;
	}
}

.footer-inner .partner-logos {
	display: flex;

	gap: 0.5rem;
}

.footer-inner .partner-logos img {
	width: 50px;
	height: auto;
}

article .partner-logos {
	display: flex;
	flex-wrap: wrap; /*  allow items to wrap  */
	justify-content: center;
	gap: 1rem;
}

article .partner-logos img {
	width: 150px;
	height: auto;
}

main, footer{
padding: 1rem;
margin-left: 30%;
/* border: 3px solid red; */

}

.big-title{
	color: var(--turquoise);
	text-transform: uppercase;
	font-family: 'AuthenticSans';
	border-bottom: 2px solid var(--turquoise);
	margin-bottom: 1rem;
}

nav{
	display: flex;
	justify-content: end;
}
nav a{
	color: var(--turquoise);
	font-family: AuthenticSans;
	text-decoration: none;
	padding-right: 1.5rem;
	padding-bottom: 2.5rem;
}
nav a:last-child {
	padding-right: 0; 
}

/* Mobile styles */
#menu-toggle {
	display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--turquoise);
}

#menu-links.open {
    display: flex;
}
.sites-grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	grid-gap: 1rem;
}
@media (max-width: 768px) {
	#menu-toggle{
		display: block;
	}
    nav {
		display: flex;
		transition: background-color 0.3s ease; 
	}
	#menu-links{
		padding-top: 1rem;
		display: none;
		flex-direction: column;
		background-color: whitesmoke;
	}
	#menu-links a{
		padding: 0;
	}

	#menu-links.open + nav{
		background-color: whitesmoke;
	}

	nav.open{
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		padding: 1rem;
		overflow: hidden; 
		background-color: whitesmoke;
	}
}