@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: local(''), url('/static/fonts/inter-v12-latin-regular.woff2') format('woff2'),
		url('/static/fonts/inter-v12-latin-regular.woff') format('woff');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	src: local(''), url('/static/fonts/inter-v12-latin-700.woff2') format('woff2'),
		url('/static/fonts/inter-v12-latin-700.woff') format('woff');
}

:root {
	--text-accent: #f93e3e;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background-color: #f7f7f7;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: underline;
}

header {
	color: #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1rem;
}

header a {
	color: #666;
	text-decoration: none;
}

main {
	margin: 0 auto;
	padding: 0 2rem;
}

article {
	max-width: 80ch;
	margin: 0 auto;
	padding: 0 2rem;
}

.hero {
	background-image: url(/static/img/hero-background.jpg);
	background-size: cover;
	height: 20vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 2rem;
}

.hero-text {
	color: #fff;
	font-size: 1.2rem;
	font-weight: bold;
	text-align: left;
}

.event-day {
	border-top: 2px solid #333;
	margin-top: 1rem;
	padding-top: 1rem;
}

.events-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, 300px);
	grid-gap: 1rem;
	margin-top: 1rem;
}

.event-meta {
	padding: 2rem 2rem;
}

.event-title {
	margin: 0;
	margin-bottom: -0.1rem;
	font-size: 1rem;
	color: var(--text-accent);
	text-transform: uppercase;
	text-decoration: none;
}

.event-title a {
	text-decoration: none;
}

.event-meta .event-title {
	border-top: 2px solid #333;
	padding-top: 1rem;
	font-size: 1.5rem;
}

.event-byline {
	font-size: 0.8rem;
	font-weight: bold;
	margin: 0;
}

.event-details {
	font-size: 0.8rem;
	margin: 0;
}

.event-layout {
	flex-direction: column;
	padding: 0 2rem;
}

@media (min-width: 768px) {
	.event-meta {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	.event-layout {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 2rem;
		padding: 0 2rem;
	}

	.event-image {
		border-top: 2px solid #333;
		order: 2;
		padding-top: 1.2rem;
		max-width: 800px;
	}

	.event-text {
		border-top: 2px solid #333;
		order: 1;
		max-width: 60ch;
	}
}

.event-images {
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

footer {
	margin-top: 2rem;
	padding: 0 2rem;
	font-size: 0.8rem;
}

.footer-inner {
	border-top: 2px solid #333;
	padding: 1rem 0;
}
