---
layout: page
title: Grounds
permalink: /grounds/
description: "An annual research journal by Sint Lucas Antwerp Research Group
  (SLARG), *Grounds* moves away from polished outcomes and toward process:
  artistic research as something alive, unfinished, and shared. The title points
  to multiple grounds—material, conceptual, geopolitical—where questions take
  shape and perspectives shift."
hero_image:
  - https://imagedelivery.net/40728e030c0e1a608b66d84b0de7ac62/slarg/9236287d931c420b7e784b4163c195b74da3e23f.jpg
---

<h1 class="page-title">{{ title }}</h1>

<div class="grounds-intro">{{ description | markdownify }}</div>

{% if hero_image %}
  <img src="{{ hero_image }}" alt="" class="grounds-hero-image">
{% endif %}


<h2>Browse publications</h2>
<br>
<div class="publication-grid">
  {% for ground in collections.grounds_publications %}
    <div class="publication-item">
      <a href="{{ ground.url }}">
        {% if ground.data.thumbnail %}
          <img src="{{ ground.data.thumbnail }}" alt="{{ ground.data.title }} thumbnail">
        {% else %}
          <img src="/static/img/placeholder.png" alt="Placeholder Image">
        {% endif %}
        <h2>{{ ground.data.title }}</h2>
        <p class="author">Author(s): {{ ground.data.author }}</p>
        <p class="date">Date: {{ ground.data.ground_date | Year }}</p>
      </a>
    </div>
  {% endfor %}
</div>