---
layout: page
title: Grounds
permalink: /grounds/
description: "*Grounds* is the renewed artistic research journal of Sint Lucas Antwerp."
hero_image: https://imagedelivery.net/7-GLn6-56OyK7JwwGe0hfg/slarg/grounds.jpg/public
---

<h1 class="page-title">{{ title }}</h1>

<div class="grounds-intro">{{ description | markdownify }}</div>

{% if hero_image %}
  <img src="{{ hero_image }}" alt="" class="grounds-hero-image">
{% endif %}

<div class="publication-grid">
  {% for ground in collections.grounds_publications %}
    <div class="publication-item">
      <a href="{{ ground.url }}">
        {% if ground.data.thumbnail %}
          <img src="{{ ground.data.thumbnail }}" alt="{{ ground.data.title }} thumbnail">
        {% else %}
          <img src="/static/img/placeholder.png" alt="Placeholder Image">
        {% endif %}
        <h2>{{ ground.data.title }}</h2>
        <p class="author">Author(s): {{ ground.data.author }}</p>
        <p class="date">Date: {{ ground.data.ground_date | date: "%Y" }}</p>
      </a>
    </div>
  {% endfor %}
</div>