---
layout: page
title: Off the shelves
---

<h1 class="page-title">Off the shelves <img src="/static/img/SLARG-website-exclamation-heart.png" alt="" style="height: 33px; margin-left: -5px;" /></h1>

<div class="publication-grid">
  {% assign sorted_publications = collections.publications | sort: "publication_date", "last" %}
  {% for publication in collections.publications %}
    <div class="publication-item">
      <a href="{{ publication.url }}">
        {% if publication.data.thumbnail %}
          <img src="{{ publication.data.thumbnail }}" alt="{{ publication.data.title }} thumbnail">
        {% else %}
          <!-- Placeholder if no thumbnail is provided -->
          <img src="/static/img/placeholder.png" alt="Placeholder Image">
        {% endif %}
        <h2>{{ publication.data.title }}</h2>
        <p class="author">Author(s): {{ publication.data.author }}</p>
        <p class="date">Date: {{ publication.data.publication_date | date: "%Y" }}</p>
      </a>
    </div>
  {% endfor %}
</div>
